@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  outline: none;
}

.container-imgbox {
  background: url("../img/header.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  text-align: center;
}

.center-fit {
  max-width: 100vw;
}

.main-wrapper {
  position: absolute;
  top: 25%;
  left: 20%;
}

.title-wrapper {
  font-size: 150px;
}

.creative-h2 {
  color: #E7194F;
}

.creative-span {
  color: #00BEC5;
}

.agency-subtitle {
  font-size: 60px;
  font-weight: 700;
}

.services {
  margin-left: 300px;
}

.services-h2 {
  font-size: 72px;
  margin-top: 120px;
  margin-bottom: 90px;
}

.wrapper-design-develop {
  display: flex;
  flex-direction: column;
  color: #E7194F;
  margin-top: 120px;
  font-size: 36px;
  font-weight: 400;
}

.first-line-blue {
  color: #00BEC5;
}

.hello-img {
  background: url("../img/about2.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 130px;
  width: 200px;
  position: relative;
  left: 501px;
  bottom: 240px;
}

.chinese-lookin-whaa {
  background: url("../img/about1.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 260px;
  width: 400px;
  position: relative;
  left: -10px;
  bottom: 30px;
  z-index: -2;
}

.wrapper-items {
  display: flex;
  margin-bottom: 90px;
}

.item {
  margin-right: 30px;
}

.wrapper-images {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper-images .image-left-container {
  display: flex;
  flex-direction: column;
}
.wrapper-images .image-right-container {
  display: flex;
  flex-direction: column;
}
.wrapper-images .lefttop-img {
  background: url("../img/portfolio-08.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 250px;
}
.wrapper-images .mid-img {
  background: url("../img/portfolio-09.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  width: 250px;
}
.wrapper-images .righttop-img {
  background: url("../img/portfolio-07.jpg") no-repeat;
  background-size: cover;
  height: 300px;
  width: 250px;
}
.wrapper-images .leftbottom-img {
  background: url("../img/portfolio-05.jpg") no-repeat;
  background-size: cover;
  height: 300px;
  width: 250px;
}
.wrapper-images .rightbottom-img {
  background: url("../img/portfolio-04.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 250px;
}

.clients {
  margin-left: 300px;
}

.clients-h2 {
  font-size: 72px;
}

.wrapper-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 90px;
}

.logo1-img, .logo2-img, .logo3-img, .logo4-img, .logo5-img, .logo6-img, .logo7-img, .logo8-img {
  height: 200px;
  width: 200px;
  padding: 15px;
  opacity: 0.4;
}

.contact {
  background-color: #F3F3F3;
}

.wrapper-contact-map {
  display: flex;
}

.wrapper-contact {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 90px;
  font-size: 18px;
  width: 50%;
  max-width: 85%;
}

.contact-h2 {
  font-size: 72px;
  margin-bottom: 45px;
  width: 85%;
}

.para {
  margin-bottom: 45px;
}

.name-input, .email-input, .message-input {
  height: 64px;
  border: 2px solid #CCC;
  width: 85%;
  margin-bottom: 45px;
}
.name-input:focus, .email-input:focus, .message-input:focus {
  border: 2px solid #E7194F;
}

.message-button {
  background-color: #E7194F;
  height: 64px;
  width: 200px;
  color: white;
}
.message-button:hover {
  background-color: #00BEC5;
}

@font-face {
  font-family: "myiconsbro";
  src: url("../myiconsbro/fonts/myiconsbro.eot?6f3nev");
  src: url("../myiconsbro/fonts/myiconsbro.eot?6f3nev#iefix") format("embedded-opentype"), url("../myiconsbro/fonts/myiconsbro.ttf?6f3nev") format("truetype"), url("../myiconsbro/fonts/myiconsbro.woff?6f3nev") format("woff"), url("../myiconsbro/fonts/myiconsbro.svg?6f3nev#myiconsbro") format("svg");
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "myiconsbro" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "";
}

.icon-behance:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-dev:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-dsgn:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-hamburger:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-mkt:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.footer-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-title {
  font-size: 72px;
  color: white;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bgfooter.jpg");
}

li {
  list-style-type: none;
  margin-bottom: 60px;
}

.span-text {
  color: #777;
  margin: 30px auto;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
